
<div class="wrap full-container" >
  <section id="login-area">
      <div class="login small-container">
        <div class="login-screen">
          <div class="login-icon">
            <img src="assets/img/icons/svg/retina.svg" alt="Log in to shrkco" />
            <h4>{{identity.name}} <small>Login</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control login-field" ng-model="user.email" required autofocus>
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control login-field" ng-model="user.password" ng-enter="login(user)" required>
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <p ng-show="loginStatus" class="status-message">{{loginStatus}}</p>
            <button class="btn btn-convert" type="submit" ng-click="login(user)" ng-disabled="form1.$invalid">Log in</button>
            <p class="small-graph"><a href="recover">Forgot password?</a> / Need an account? <a href="#signup">Sign up</a></p>
          </div>
        </div>
      </div>
  </section>
</div>
