<header class="header-wrap">
  <div class="site-header">
    <div class="site-header-logo">
      <a class="logo" href="/" title="Home">
        Shrk.co
      </a>
    </div>

    <nav class="site-header-nav">
      <ul class="nav-inline nav-site">
        <li class="nav-inline_item">
          <a href="/join.php" class="nav-inline_link">How it works</a>
        </li>
        <li class="nav-inline_item">
          <a href="/join.php" class="nav-inline_link">Browse</a>
        </li>
        <li class="nav-inline_item">
          <a href="/join.php" class="nav-inline_link">Join</a>
        </li>
        <li class="nav-inline_item">
          <a href="/signin.php" class="nav-inline_link">Log in</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- ------------------- JUMBOTRON ---------------------- -->
<div class="jumbotron title-container">
  <h1>Create and share link bundles with the world</h1>
  <button class="btn btn-lg btn-info large-text btn-create-bundle" ng-click="showCreationScreen=true" href="#step-create-group" du-smooth-scroll du-scrollspy><i class="fui-plus"></i> Create a Bundle</button>

</div>

<div class="container main-wrap">
  <section class="bundle-creation" id="creation-wrap" ng-show="showCreationScreen">

    <!-- ------------------- CREATE GROUP ---------------------- -->
    <section id="step-create-group">
      <div class="step">
        <div class="break"></div>
        <h3>Create a group </h3>
        <p class="step-description">What's categories will your links belong to? Add as many groups as you want for this bundle. Click on "Add Group" button after you enter group names.</p>

        <div class="break"></div>

        <div class="preview-label"><i class="fui-folder"></i> Groups:</div>
        <div class="preview-link">
          <p ng-show="groups.length===0">There's nothing here yet!</p>
          <ul class="category-entered-list">
            <li class="btn btn-primary" ng-repeat="group in groups">{{group}} <i class="fui-cross" ng-click="removeGroup($index)"></i></li>
          </ul>
        </div>

        <div class="form-group">
          <input type="text" value="" ng-model="groupName" placeholder="Movies, funny videos, interesting articles, todos, etc.." class="form-control" ng-enter="addGroup(groupName)">
        </div>

        <div class="next-step">
          <a class="btn btn-lg btn-success btn-step" ng-click="addGroup(groupName)"><i class="fui-plus-circle"></i> Add Group</a>
          <a href="#step-enter-links" du-smooth-scroll du-scrollspy class="btn btn-lg btn-info btn-step" ng-click="isEnterLink=true">Done, What's next?</a>
        </div>
      </div>
    </section>

    <!-- ------------------- ENTER LINKS ---------------------- -->
    <section id="step-enter-links">
      <div class="step" ng-show="isEnterLink">
        <div class="break"></div>
        <h3>Add Links to the group<a href="#step-create-group" du-smooth-scroll du-scrollspy  class="btn btn-default btn-back-top" ng-click="goBackTop()"><i class="fui-triangle-up"></i> Back</a></h3>

        <div class="break"></div>

        <div class="step-info col-xs-3">
          <p class="step-description">Enter url into the box below. You can enter as many as you like. The title will be automatically populated, but you may override it if you wish</p>

          <div class="next-step">
            <a href="#step-set-options" du-smooth-scroll du-scrollspy class="btn btn-lg btn-info btn-step" ng-click="isSetOptions=true"><i class="fui-arrow-right"></i> Next Step</a>
          </div>
        </div>

        <div class="step-data col-xs-9">
          <div class="form-group add-link-group">
            <select class="form-control dropdown-form">
              <option>Category:</option>
              <option ng-repeat="group in groups">{{group}}</option>
            </select>

            <input type="text" value="" ng-model="linkUrl" placeholder="http://www.myfavoritewebsite.com" class="form-control">

            <a class="btn btn-success btn-addmore" ng-click="addLinkToCategory(linkUrl)"><i class="fui-plus"></i>Add</a>

            <div class="break"></div>
            <div class="preview-label"><i class="fui-search"></i> Links in this category:</div>
            <div class="preview-link">
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------------- SET OPTIONS ---------------------- -->
    <div id="step-set-options" class="step" ng-show="isSetOptions">
      <div class="break"></div>
      <h3>Options<a href="#step-enter-links" du-smooth-scroll du-scrollspy  class="btn btn-default btn-back-top" ng-click="goBackTop()"><i class="fui-triangle-up"></i> Back</a></h3>
      <p class="step-description">Set visibility settings such as bundle name, password protection, expiration, and whether others can contribute to it. Leave fields blank to turn it off</p>
      
      <div class="preview-link">
        <h4>Bundle Name:</h4>
          <p class="options-description">Name your bundle, try to make it meaningful.</p>
          <input type="text" value="" placeholder="Favorite movies, amazing arts, nice articles" class="form-control">

        <h4>Password Protected</h4>
          <p class="options-description">This bundle will be private and requires a password to view.</p>
          <label class="checkbox" for="chkPasswordProtected">
            <input type="checkbox" value="" id="chkPasswordProtected" data-toggle="checkbox" class="custom-checkbox" ng-model="hasPasswordProtection"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Password Protect it!
          </label>
          <input type="text" value="" placeholder="Password..." class="form-control" ng-show="hasPasswordProtection===true">


        <h4>Set Expiration Date</h4>
          <p class="options-description">This bundle will expire at the date specified below:</p>
          <label class="checkbox" for="chkExpirationDate">
            <input type="checkbox" value="" id="chkExpirationDate" data-toggle="checkbox" class="custom-checkbox" ng-model="hasExpirationDate"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Set Password Protection
          </label>
          <input type="text" value="" placeholder="mm/dd/year" class="form-control" ng-show="hasExpirationDate===true">


        <h4>Open to Contribution</h4>
          <p class="options-description">This bundle will allow anyone to edit it. (All edits will be submitted to the original creator for moderation</p>
          <label class="checkbox" for="chkOpenContribution">
            <input type="checkbox" value="" id="chkOpenContribution" data-toggle="checkbox" class="custom-checkbox" ng-model="openToContribution"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Make it Open to Contribution
          </label>
        </div>

        <div class="next-step">
          <a href="#step-preview" du-smooth-scroll du-scrollspy class="btn btn-lg btn-info btn-step" ng-click="isStepPreview=true"><i class="fui-search"></i> Show me the Preview!</a>
        </div>
      </div>


    <!-- ------------------- PREVIEW ---------------------- -->
    <section id="step-preview">
      <div class="creation-preview step" ng-show="isStepPreview">
        <div class="break"></div>
        <h3>Preview<a href="#step-set-options" du-smooth-scroll du-scrollspy  class="btn btn-default btn-back-top" ng-click="goBackTop()"><i class="fui-triangle-up"></i> Back</a></h3>
        <p class="step-description">Enter url into the box below. You can enter as many as you like. The title will be automatically populated, but you may override it if you wish</p>
        <div class="form-group">
          <input type="text" value="" placeholder="movies, funny videos, interesting articles, todos, etc.." class="form-control">
          <a class="btn btn-success btn-addmore"><i class="fui-plus"></i>Add More</a>
        </div>
        <div class="next-step">
          <a href="#step-save" du-smooth-scroll du-scrollspy class="btn btn-lg btn-info btn-step"><i class="fui-arrow-right"></i> Next: Save</a>
        </div>
      </div>
    </section>

    <!-- ------------------- SAVE ---------------------- -->
    <section id="step-save">
      <div ng-show="isStepSave">
        <h2>Section 3</h2>
        <p>Shank fatback pastrami short loin, turkey jowl kielbasa ribeye chicken jerky drumstick flank ham. Swine shankle pork belly kielbasa shoulder flank jowl, sirloin doner. Kevin tri-tip bresaola leberkas. Swine ball tip cow strip steak. Ham filet mignon pork chop, pork fatback andouille pork loin shoulder jowl swine strip steak turducken prosciutto rump.</p>

        <img src="http://lorempixel.com/1000/400/" alt="" />

        <p>Tongue tri-tip pastrami, shoulder rump pork belly ground round. Ham hock chuck leberkas doner, strip steak corned beef tri-tip capicola. Rump turkey ham sausage shankle. Flank shankle pork chop ham hock. Shankle venison kielbasa, pancetta swine beef ball tip t-bone bacon hamburger ground round ribeye flank. Turducken bacon bresaola, chicken kevin boudin ball tip strip steak filet mignon pork turkey shank ground round. Kielbasa fatback prosciutto pork chop, jerky ground round leberkas boudin ball tip beef shankle shoulder swine brisket.</p>
      </div>
    </section>


  </section>
</div> <!-- /container -->
