.site-header {

	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 14px;
	padding-bottom: 14px;

	.site-header-logo {
		width: 11.57895%;
		float: left;
		margin-right: 1.05263%;

		.logo {
			color: #333;
			font-size: 22px;
			font-weight: 700;
			font-family: arial;
			text-shadow: 0 1px 2px rgba(0,0,0,.5);

			&::hover {
				text-decoration: none;
				color: #333;
			};

		}

	}

	nav.site-header-nav {
		text-align: right;

		.nav-inline {
			list-style: none;
			list-style: none;
			margin: 0;

			.nav-inline_item {
				display: inline;
				padding: 0 0.8em;

				a {
					color: #333;
					font-size: 19px;
					font-weight: 700;
					font-family: arial;
					text-transform: lowercase;
				}

			}

		}

	}

}

.title-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;

	h1 {
		font-size: 37px;
		text-align: center;
	}
}

.main-wrap {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 14px 10px;

	.bundle-creation {
		min-height: 300px;
	}
}

.btn-create-bundle {
	display: block;
	background-color: #428bca;
	opacity: 1;
	border-radius: 6px;
	font-family: sans-serif;
	margin: 0 auto;
	margin-bottom: 20px;
}

.large-text {
	font-size: 42px;
}

.jumbotron {
	margin-bottom: 10px;
	background: #2f4154;
	color: white;

	h1 {
		font-size: 32px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.step {
	margin-top: 12px;
	padding: 50px 0 30px 0;
	min-height: 500px;
	.step-description {
		color: #ccc;
		margin-bottom: 20px;
		margin-top: -10px;
	}

	input {
		height: 71px;
		font-size: 38px;
	}

	.btn-addmore {
		margin-top: 5px;
	}
}

.group-title {
	text-align: center;
	font-size: 40px;
	text-align: center;
}

.step-navigator {
	text-align: center;
}

#step-menu {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: rgba(255, 255, 255, 0.8);
    
      	li, ul {
	      list-style: none;
	      margin: 0;
	      padding: 0;
	      text-align: center
    	}

    li, a {
      display: inline-block;
    }

    a {
      padding: 20px;
      color: #333;
      text-decoration: none;

		&.active {
	      background: #00AC7F!important;
	      color: #fff!important;
	    }
    }

}

